* {
  outline: yellow 1px solid;
}
header {
  width: 100%;
}
.primary-nav ul {
  display: inline-block;
  width: 30vw;
  float: left;
  background-color:#3a3b3b;
}
.primary-nav li {
  display: inline-block;
  padding: 1px;
  color: #717375;
}
.primary-nav a {
  color: #717375;
  text-decoration: none;
  font-size: .8em
}
.primary-nav :last-child {
  float: right;
}
nav {
  clear: both;
}
nav 
