* {
  /*outline: solid 1px purple;*/
}

body {
  background-color: #d9dbd9;
}
.primary-nav {
  padding: 5px;
  height: 1.1em;
  width: 100%;
  background-color:#3a3b3b;
}
.primary-nav ul {
  display: inline-block;
  width: 30vw;
}
.primary-nav li {
  display: inline-block;
  padding: 1px;
  color: #9a1805;
}
.primary-nav a {
  color: #717375;
  text-decoration: none;
  font-size: .8em
}
.pn-alpha {
  float: left;
}
.pn-beta {
  float: right;
}
.pn-beta li {
  float: right;
  margin-right: 1px;
}
nav {
  width: 80%;
  margin: 0 auto;
  clear: both;
  background-color: grey;
}
.logo {
  clear: both;
  float: left;
  width: 25%;
  height: 4em;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
.logo span {
  display: block;
}
.logo-alpha {
  font-style: bold;
  padding-top: 15px;
  font-size: 1.5em;
}
.logo-beta {
  margin-left: 40px;
  padding-top: -1px;
  color: #9a1805;
}
.about-menu li {
  padding-top: 20px;
  display: inline-block;
  width: 25%;
  float: left;
  text-align: center;
}
.search-nav {
  height: 12em;
  clear: both;
  background-color: #9a1805;
  width: 100%;
}
.search-nav-field {
  width: 60%;
  margin: 0 auto;
}
h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
}
.snf-inputs {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
input {
  background-color: #9a1805;
  border: none;
  display: inline-block;
  float: left;
}
input::placeholder {
  color: #ffffff;
  font-size: 1.7em;
}
button {
  display: inline-block;
  float: right;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  color: #ffffff;
}
.search-label {
  clear: both;
  font-size: .5em;
  color: #ffffff;
}
.sl-alpha {
  margin-left: -2px;
}
.sl-beta {
  margin-left: 630px;
  margin-right: 5px;
}
.search-result-nav {
  background-color: #9a1805;
  height: 2em;
  width: `100%;`
}
.search-result-nav ul {
  width: 60%;
  margin: 0 auto;
}
.search-result-nav li {
  width: 19%;
  height: 1.4em;
  text-align: center;
  padding-top: 9px;
  margin: 0 1px;
  display: inline-block;
  float: left;
  background-color: #7c1404;
}
.search-result-nav a {
  text-decoration: none;
  color: #ffffff;
}
.search-result-nav li:hover {
  background-color: #d9dbd9;
  color: #000000;
}
.search-result-nav a:hover {
  color: #000000;
}
main {
  width: 80%;
  margin: 0 auto;
}
aside {
  margin-top: 10px;
  width: 20%;
  display: inline-block;
  float: left;
}
h3 {
  padding: 3px;
  background-color: #000000;
  color: #ffffff;
}
.refinements ul {
  text-transform: uppercase;
  padding: 3px;
  background-color: #ffffff;
  color: red;
  margin: 0 3px 2px 0;
}
.refinements li {
  text-transform: none;
  line-height: 1.2em;
  padding: 3px;
  color: #000000;
}
.refinements span {
  display: inline-block;
  float: right;
  background-color: #d9dbd9;
}
.sorted {
  display: inline-block;
  width: 75%;
  margin: 10px 0 0 10px;
  float: left;
}
.sorted-nav {
  margin: 5px 0 10px;
}
.sn-limits {
  float: right;
}
.sn-limits span {
  display: inline-block;
  background-color: #ffffff;
  margin-left: 2px;
}
img {
  height: 10em;
  width: 100%;
}
section {
  height: 10em;
  margin-bottom: 10px;
}

.upper {
  height: 5em;
  background-color: #f3f4f3;
}
.lower {
  height: 5em;
  background-color: #ffffff;
}
.upper h6 {
  font-size: 1.2em;
  padding: 15px 10px 5px;
}
.upper span {
  padding: 0 11px;
  color: grey;
}
.lower p {
  padding: 20px 10px 0;
}
.pages {
  width: 100%;
  clear: both;
}
.wrapper {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.pages span {
  clear: both;
  display: inline-block;
  padding: 4px;
  background-color: #ffffff;
  color: #7c1404;
}
.related {
  background-color: #ffffff;
  width: 96%;
  height: 12em;

}
.related-title {
  color: #9a1805;
  font-size: 1.2em;
}
.related-lists span {
  font-size: 1.1em;
  color: #717375;
}
.related-lists {
  margin-left: 10px;
  display: inline-block;
  width: 30%;
  float: left;
}
.related-lists li {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 1em;
}
footer {
  clear: both;
  width: 100%;
  height: 10em;
  background-color: #3a3b3b;
  color: #717375;
}
.foot-container {
  width: 80%;
  margin: 0 auto;
}
footer-ul {
  width: 80%;
  margin: 0 auto;
}
footer span {
  font-size: 1.1em;
}
.footer-lists {
  margin: 10px auto;
  display: inline-block;
  width: 30%;
  float: left;
}
.footer-lists span {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.footer-lists li {
  margin: 10px 20px;
}
