* {
  /*outline: purple 1px solid;*/
}
body {
  background-color: #d9dbd9;
}
.primary-nav {
  padding: 5px;
  height: 1.1em;
  width: 100%;
  background-color:#3a3b3b;
}
.primary-nav ul {
  display: inline-block;
  width: 30vw;
}
.primary-nav li {
  display: inline-block;
  padding: 1px;
  color: #9a1805;
}
.primary-nav a {
  color: #717375;
  text-decoration: none;
  font-size: .8em
}
.pn-alpha {
  float: left;
}
.pn-beta {
  float: right;
}
.pn-beta li {
  float: right;
  margin-right: 1px;
}
nav {
  width: 80%;
  margin: 0 auto;
  clear: both;
  background-color: grey;
}
.logo {
  clear: both;
  float: left;
  width: 25%;
  height: 4em;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
.logo span {
  display: block;
}
.logo-alpha {
  font-style: bold;
  padding-top: 15px;
  font-size: 1.5em;
}
.logo-beta {
  margin-left: 40px;
  padding-top: -1px;
  color: #9a1805;
}
.about-menu li {
  padding-top: 20px;
  display: inline-block;
  width: 25%;
  float: left;
  text-align: center;
}
.search-nav {
  height: 12em;
  clear: both;
  background-color: #9a1805;
  width: 100%;
}
.search-nav-field {
  width: 60%;
  margin: 0 auto;
}
h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
}
.snf-inputs {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
input {
  display: inline-block;
  float: left;
}
button {
  display: inline-block;
  float: right;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  color: white;
}
h5 {
  clear: both;
  font-size: .5em;

}
.search-result-nav {
  background-color: #9a1805;
  height: 2em;
  width: `100%;`
}
.search-result-nav ul {
  width: 60%;
  margin: 0 auto;
}
.search-result-nav li {
  width: 19%;
  height: 1.4em;
  text-align: center;
  padding-top: 9px;
  margin: 0 1px;
  display: inline-block;
  float: left;
  background-color: #7c1404;
}
.search-result-nav a {
  text-decoration: none;
  color: #ffffff;
}
.search-result-nav li:hover {
  background-color: #d9dbd9;
  color: #000000;
}
.search-result-nav a:hover {
  color: #000000;
}
main {
  width: 80%;
  margin: 0 auto;
}
aside {
  margin-top: 10px;
  width: 20%;
  display: inline-block;
  float: left;
}
h3 {
  padding: 3px;
  background-color: #000000;
  color: #ffffff;
}
.refinements ul {
  padding: 3px;
  background-color: #ffffff;
  color: red;
  margin: 0 3px 2px 0;
}
.refinements li {
  line-height: 1.2em;
  padding: 3px;
  color: #000000;
}
.refinements span {
  display: inline-block;
  float: right;
  background-color: #d9dbd9;
}
.sorted {
  display: inline-block;
  width: 75%;
  margin: 10px 0 0 10px;
  float: left;
}
section {
  height: 10em;
  margin-bottom: 10px;
  background-color: yellow;
}
